extends ./layout.jade

block content

  .container
    - var properties = ['name', 'phone', 'email']
    .row
      .col-xs-12
        h1= title
    .row
      .col-xs-12
        each prop in properties
          label #{prop.toUpperCase()}:
          input(id = prop)
        button.btn#submit Add
    .row
      .col-xs-12
        table.table.table-hover.table-striped
          thead
            tr
              each prop in properties
                th= prop
          tbody#contactList
            each contact, index in items
              tr
                each prop, index in contact
                  td(class= index id= prop)= prop
                td.edit.text-center
                  i.fa.fa-pencil-square-o.fa-lg
                td.delete.text-center
                  i.fa.fa-trash-o.fa-lg

block scripts
  script(src="js/contacts/main.js")